*.iml
*-debug.log
*.apk
*.aab
.gradle
/local.properties
.DS_Store
/.firebase/
/.gemini
/.github
/.idea/caches
/.idea/deviceManager.xml
/.idea/dictionaries
/.idea/easycode
/.idea/libraries
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/easycode.ignore
/.idea/kotlinc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/planningMode.xml
/.idea/workspace.xml
/.windsurf
/app/release/
/app/release.jks
/app/upload_certificate.pem
/build
/captures
/emulator_data
/Logos
/Scripts/Python Image Generation
/Test Builds
.externalNativeBuild
.cxx
google-services.json
local.properties
