*.iml
.gradle
/local.properties
/.gemini
/.github
/.idea/caches
/.idea/dictionaries
/.idea/easycode
/.idea/libraries
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/easycode.ignore
/.idea/kotlinc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/planningMode.xml
/.idea/workspace.xml
/.windsurf
.DS_Store
/build
/captures
/Logos
/Test Builds
.externalNativeBuild
.cxx
local.properties
google-services.json
*-debug.log
.firebase/
emulator_data
